@model ACLager.ViewModels.WorkOrderBaseViewModel

@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Cancel", "WorkOrder"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => Model.Workorder.UID)

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="panel panel-danger flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <br>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <fieldset>
                                <div class="col-md-12">
                                    <Legend>Cancel og slet produktions ordre</Legend>
                                    Er du sikker på du vil cancel og slette denne produktions ordre <strong>permanent</strong> fra systemet?
                                    <hr />
                                    <dl class="dl-horizontal">
                                        
                                            @if (Model.Workorder.Type == "Pakkeri"){
                                                <dt><strong>Ordrenummer:</strong></dt>                                                
                                                <dd>@Model.Workorder.OrderNumber</dd>
                                            }
                                            else if (Model.Workorder.Type == "Produktion")
                                            {
                                                <dt><strong>Batchnummer:</strong></dt> 
                                                <dd>@Model.Workorder.BatchNumber</dd>
                                            }

                                    </dl>

                                    <hr />
                                </div>
                            </fieldset>

                            <input class="btn btn-raised btn-danger pull-right" type="submit" value="Slet">
                            <a href="@Url.Action("Index")" class="btn btn-default pull-right flowout-close">Behold</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
}

