@using ACLager.Models
@model ACLager.ViewModels.WorkOrderBaseViewModel

@{
    ViewBag.Title = "Workorder detaljeret";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container panel">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Production")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til "Production"</a>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center">Workorder detaljer</h3>
        </div>
    </div>


    <div class="clearfix"></div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <small>Shipping Info:</small>
            <h1>@Model.Workorder.ShippingInfo</h1>
        </div>
        <div class="col-sm-4">
            @if (Model.Workorder.Type == "Produktion")
            {
                <small>Batchnummer:</small> <h3>@Model.Workorder.BatchNumber</h3>
            }
            else if (Model.Workorder.Type == "Pakkeri")
            {
                <small>Ordrenummer:</small> <h3>@Model.Workorder.OrderNumber</h3>
            }


        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><small>Beskrivelse</small></th>
                    <th><small>Plukke lokation</small></th>
                    <th><small>Plukkemængde / Tilgængelig mængde</small></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
@foreach (WorkOrderItem workorderitem in Model.Workorderitems)
{
    if (workorderitem.WorkOrder == Model.Workorder)
    {

                <tr>
                    <td>
                        @workorderitem.ItemType.Name
                    </td>
                    <td>
                        <h3><strong>@workorderitem.Item.Location.Name</strong></h3>
                    </td>
                    <td>
                        <h3><strong>@workorderitem.Amount<small>/@workorderitem.Item.Amount</small></strong></h3>
                    </td>
                    <td>
                        <button class="btn btn-raised btn-info pull-right">Pluk</button>
                    </td>
                </tr>
    }
}         

            </tbody>
        </table>
    </div>
</div>
