@using ACLager.Models
@using ACLager.CustomClasses
@model ACLager.ViewModels.WorkOrderBaseViewModel

@{
    ViewBag.Title = "Workorder detaljeret";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container panel">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action(Model.Workorder.Type == "Pakkeri" ? "Packaging" : "Production")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til @Model.Workorder.Type</a>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center">Ordredetaljer</h3>
        </div>
    </div>


    <div class="clearfix"></div>
    <hr />
    <div class="row">
        
        @if (Model.Workorder.Type == "Produktion")
        {
            <div class="col-sm-4">
                <strong>Varetype:</strong>
                <h3>@if (Model.Workorder.ItemType != null)
                    { <a href="@Url.Action("Detailed", "ItemType", new { id = Model.Workorder.ItemType.UID })">@Model.Workorder.ItemType.Name</a>}</h3>
            </div>
            <div class="col-sm-4">
                <strong>Batchstørrelse:</strong>
                <h3>@if (Model.Workorder.ItemType != null)
                    { @Model.Workorder.ItemType.BatchSize }</h3>
            </div>
            <div class="col-sm-4">
                <strong>Batchnummer:</strong> <h3>@Model.Workorder.BatchNumber</h3>
            </div>

        }
        else if (Model.Workorder.Type == "Pakkeri")
        {
            <div class="col-sm-8">
                <strong>Shipping Info:</strong>
                <h1>@Model.Workorder.ShippingInfo</h1>
                }

            </div>
            <div class="col-sm-4">
                <strong>Ordrenummer:</strong> <h3>@Model.Workorder.OrderNumber</h3>
            </div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            @if (!Model.Workorder.IsStarted) {
                using (Html.BeginForm("Start", "WorkOrder", new { id = Model.Workorder.UID })) {
                    @Html.AntiForgeryToken()
                    <button class="btn btn-raised btn-lg btn-primary pull-right" type="submit" value="Start">Påbegynd ordre</button>
                }
            }
            else if (Model.Workorder.IsStarted && !Model.Workorder.IsComplete) {
                using (Html.BeginForm("Complete", "WorkOrder", new { id = Model.Workorder.UID })) {
                    @Html.AntiForgeryToken()
                    <button class="btn btn-raised btn-lg btn-primary pull-right" type="submit" value="Start">Afslut ordre</button>
                }
            }
            else if (Model.Workorder.IsComplete) {
                <h3>Ordre afsluttet</h3>
            }

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><small>Beskrivelse</small></th>
                        <th><small>Plukke lokation</small></th>
                        <th><small>Plukkemængde / Tilgængelig mængde</small></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Workorder.IsStarted && !Model.Workorder.IsComplete) {
                        foreach (WorkOrderItemGroup workorderitemgroup in Model.Workorderitems) {
                            if (workorderitemgroup.WorkOrderItem.WorkOrder == Model.Workorder) {
                                bool itempicked = (workorderitemgroup.WorkOrderItem.Progress == workorderitemgroup.WorkOrderItem.Amount);
                                <tr>
                                    <td>
                                        @workorderitemgroup.ItemType.Name
                                    </td>
                                    <td>
                                        <h3>
                                            <strong>
                                                @if (!itempicked) {
                                                @workorderitemgroup.Location.Name
                                                ;
                                            } else {
                                                @:--
                                            }
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        <strong>
                                            @workorderitemgroup.WorkOrderItem.Amount @if (!itempicked) {
                                                <small>/@workorderitemgroup.Item.Amount</small>
                                            }
                                        </strong>
                                    </h3>
                                </td>
                                <td>
                                    @if (!itempicked) {
                                        using (Html.BeginForm("Pick", "WorkOrder", new { id = workorderitemgroup.WorkOrderItem.UID })) {
                                            @Html.AntiForgeryToken()
                                            <button class="btn btn-raised btn-info pull-right" type="submit" value="Pick">Pluk</button>
                                        }
                                    } else {
                                        <h3>Er plukket</h3>
                                    }

                                </td>
                            </tr>
                            }
                        }
                    } else if (!Model.Workorder.IsStarted) {
                        foreach (WorkOrderItemGroup workorderitemgroup in Model.Workorderitems) {
                            if (workorderitemgroup.WorkOrderItem.WorkOrder == Model.Workorder) {

                                <tr>
                                    <td>
                                        @workorderitemgroup.WorkOrderItem.ItemType.Name

                                    </td>
                                    <td>
                                        <h3>
                                            <strong>--</strong>
                                        </h3>
                                    </td>
                                    <td>
                                        <h3>
                                            <strong>@workorderitemgroup.WorkOrderItem.Amount</strong>
                                        </h3>
                                    </td>
                                    <td>
                                        --
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>  
        </div>      
    </div>                
</div>
