@using ACLager.Models
@model ACLager.ViewModels.WorkOrderBaseViewModel


@{
    ViewBag.Title = "Arbejdsopgaver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="workorderSort">
    @Html.Partial("_SearchPanel")


    <div class="row">
        <div class="sort noselect col-sm-2" data-sort="sort-uid">
            <strong>@Html.DisplayNameFor(model => model.Workorder.UID)</strong>
            <br>
            <span class="label label-default">Klik for at sortere</span>
            <span class="label label-primary asc">Sorteret stigende</span>
            <span class="label label-primary desc">Sorteret faldende</span>
            <br>
        </div>
        <div class="sort noselect col-sm-2" data-sort="sort-batchnumber">
            <strong>@Html.DisplayNameFor(model => model.Workorder.BatchNumber)</strong>
            <br>
            <span class="label label-default">Klik for at sortere</span>
            <span class="label label-primary asc">Sorteret stigende</span>
            <span class="label label-primary desc">Sorteret faldende</span>
            <br>
        </div>
        <div class="sort noselect col-sm-2" data-sort="sort-shippinginfo">
            <strong>@Html.DisplayNameFor(model => model.Workorder.ShippingInfo)</strong>
            <br>
            <span class="label label-default">Klik for at sortere</span>
            <span class="label label-primary asc">Sorteret stigende</span>
            <span class="label label-primary desc">Sorteret faldende</span>
            <br>
        </div>
        <div class="sort noselect col-sm-2" data-sort="sort-duedate">
            <strong>@Html.DisplayNameFor(model => model.Workorder.DueDate)</strong>
            <br>
            <span class="label label-default">Klik for at sortere</span>
            <span class="label label-primary asc">Sorteret stigende</span>
            <span class="label label-primary desc">Sorteret faldende</span>
            <br>
        </div>
        <div class="col-sm-2"></div>
    </div>


    <div class="list" id="ExpansionPanelsContainer">
        @foreach (WorkOrder workorder in Model.Workorders) {
            <div class="expansionpanel row panel">
                <div class="row">
                    <div class="col-sm-2 sort-UID">
                        <h4>@workorder.UID</h4>
                    </div>
                    <div class="col-sm-2 sort-batchnumber">
                        <h4>@workorder.BatchNumber</h4>
                    </div>
                    <div class="col-sm-2 sort-shippinginfo">
                        <h4>@workorder.ShippingInfo</h4>
                    </div>
                    <div class="col-sm-2 sort-duedate">
                        @if (workorder.DueDate.HasValue) {
                              <h4>@workorder.DueDate.Value.ToString("dd-MM-yyyy")</h4>
                        }
                    </div>
                    <div class="expansion-control col-sm-4" data-expandmaxheight="100px" data-expandtarget="#ExpansionContentContainer_@workorder.UID">
                        <div class="btn btn-default pull-right">
                            <i class="material-icons">expand_more</i>
                            <i class="material-icons hidden">expand_less</i>
                        </div>
                    </div>
                </div>
                <div class="row expansion-content" id="ExpansionContentContainer_@workorder.UID">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-5">

                        <a href="@Url.Action("Detailed", new {id = workorder.UID})" class="btn btn-raised btn-primary">Mere info</a>
                        <a href="@Url.Action("CancelWorkOrder", new {id = workorder.UID})" class="btn btn-raised btn-danger">Slet</a>

                    </div>

                </div>

            </div>
        }
    </div>
</div>

<script type="text/javascript">

        $(document).ready(function () {

            var options = {
                valueNames: ['sort-UID', 'sort-batchnumber', 'sort-shippinginfo', 'sort-duedate']
            };

            var workorderList = new List('workorderSort', options);


        });
</script>