@using ACLager.Models
@model ACLager.ViewModels.UserViewModel

@{
    ViewBag.Title = "Brugere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="userSort">
    @Html.Partial("_SearchPanel")

    <div class="container">
        <div class="row">
            <div class="sort noselect col-xs-3" data-sort="sort-status"">
                <strong>@Html.DisplayNameFor(model => model.User.IsActive)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="sort noselect col-xs-3" data-sort="sort-name"">
                <strong>@Html.DisplayNameFor(model => model.User.Name)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="sort noselect col-xs-2" data-sort="sort-uid">
                <strong>@Html.DisplayNameFor(model => model.User.UID)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="sort noselect col-xs-2" data-sort="sort-role">
                <strong>Rolle</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container list" id="ExpansionPanelsContainer">
        @foreach (User user in Model.Users) {
            <div class="expansionpanel row panel">
                <div class="row">
                    <div class="col-xs-3 sort-status">
                        <h4>
                             @if (user.IsActive) {
                                <span class="label label-success">Aktiv</span>
                             } else {
                                <span class="label label-default">Inaktiv</span>
                             }
                        </h4>
                    </div>
                    <div class="col-xs-3 sort-name">
                        <h4>@user.Name</h4>
                    </div>
                    <div class="col-xs-2 sort-uid">
                        <h4>@user.UID</h4>
</div>
                    <div class="col-xs-2 sort-role">
                    <h4>@String.Format(user.IsAdmin ? "Administrator" : "Almindelig bruger")</h4>
                    </div>
                    <div class="expansion-control col-sm-2" data-expandmaxheight="100px" data-expandtarget="#ExpansionContentContainer_@user.UID">
                        <div class="btn btn-default pull-right">
                            <i class="material-icons">expand_more</i>
                            <i class="material-icons hidden">expand_less</i>
                        </div>
                    </div>
                </div>
                <div class="row expansion-content" id="ExpansionContentContainer_@user.UID">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">    
                        <a href="@Url.Action("DeleteUser", new {id = user.UID})" class="btn btn-raised btn-danger pull-right">Slet</a>                     
                        <a href="@Url.Action("EditUser", new {id = user.UID})" class="btn btn-raised btn-info pull-right">Rediger</a>
                        <a href="@Url.Action("Detailed", new {id = user.UID})" class="btn btn-raised btn-primary pull-right">Mere info</a>                     
                    </div>
                </div>                
            </div>
        }
    </div>
</div>

<div class="fixed-button-container">
    <div class="btn btn-success btn-fab btn-flowout btn-page-flowout-up" data-content-element="#AddInventoryItemFormPanel">
        <i class="material-icons normal">add circle</i>
        <i class="material-icons flowing hidden">close</i>
    </div>
</div>

<div class="flow-content flowout-close" id="InventoryItemInlineInfoAndFormPanel">
    <div class="container"></div>
</div>

<div class="flow-content flowout-close" id="AddInventoryItemFormPanel">
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="panel panel-success flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <br></h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_CreateUser")
                    </div>
                </div>

            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

        $(document).ready(function () {

            var options = {
                valueNames: ['sort-status', 'sort-name', 'sort-uid', 'sort-role']
            };

            var userList = new List('userSort', options);

            
        });
</script>