@model ACLager.ViewModels.ItemTypeViewModel

@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til "Varetyper"</a>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center">Detaljer om varetype</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr />
    <div class="col-sm-6">
        <div class="row">
            <strong>@Html.DisplayNameFor(model => model.ItemType.Name):</strong>
        </div>
        <div class="row">
            <h1>@Model.ItemType.Name</h1>
        </div>
        <div class="row">
            @if (Model.ItemType.IsActive) {
                <h4><span class="label label-success">Varetype er aktiv</span></h4>
            } else {
                <h4><span class="label label-default">Varetype er ikke aktiv</span></h4>
            }
        </div>
    </div>   
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-5">
                <strong>@Html.DisplayNameFor(model => model.ItemType.MinimumAmount):</strong>
            </div>
            <div class="col-xs-3">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Unit):</strong>
            </div>
            @if (Model.ItemType.BatchSize != null) {
                <div class="col-xs-4">
                    <strong>@Html.DisplayNameFor(model => model.ItemType.BatchSize):</strong>
                </div>
            }  
        </div>
        <div class="row">
            <div class="col-xs-5">
                <h3>@Model.ItemType.MinimumAmount</h3>
            </div>
            <div class="col-xs-3">
                <h3>@Model.ItemType.Unit</h3>
            </div>
            @if (Model.ItemType.BatchSize != null) {
                <div class="col-xs-4">
                    <h3>@Model.ItemType.BatchSize</h3>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp; 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Barcode):</strong>
            </div>
            <div class="col-xs-7">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Department):</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <h3>@Model.ItemType.Barcode</h3>
            </div>
            <div class="col-xs-7">
                <h3>@Model.ItemType.Department</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <strong>@Html.DisplayNameFor(model => model.ItemType.Procedure):</strong> 
            <h4>@Model.ItemType.Procedure</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("DeleteItemType", new {id = Model.ItemType.UID})" class="btn btn-raised btn-danger pull-right">Slet</a>
            <a href="@Url.Action("EditItemType", new {id = Model.ItemType.UID})" class="btn btn-raised btn-info pull-right">Rediger</a>
        </div>
    </div>
</div>
