@using System.Data.Entity.Core.Common.CommandTrees
@using ACLager.Models
@model ACLager.ViewModels.ItemTypeViewModel

@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til "Varetyper"</a>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center">Detaljer om varetype</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr />
    <div class="col-sm-6">
        <div class="row">
            <strong>@Html.DisplayNameFor(model => model.ItemType.Name):</strong>
        </div>
        <div class="row">
            <h1>@Model.ItemType.Name</h1>
        </div>
        <div class="row">
            @if (Model.ItemType.IsActive) {
                <h4><span class="label label-success">Varetype er aktiv</span></h4>
            } else {
                <h4><span class="label label-default">Varetype er ikke aktiv</span></h4>
            }
        </div>
    </div>   
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-5">
                <strong>@Html.DisplayNameFor(model => model.ItemType.MinimumAmount):</strong>
            </div>
            <div class="col-xs-3">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Unit):</strong>
            </div>
            @if (Model.ItemType.BatchSize != null) {
                <div class="col-xs-4">
                    <strong>@Html.DisplayNameFor(model => model.ItemType.BatchSize):</strong>
                </div>
            }  
        </div>
        <div class="row">
            <div class="col-xs-5">
                <h3>@Model.ItemType.MinimumAmount</h3>
            </div>
            <div class="col-xs-3">
                <h3>@Model.ItemType.Unit</h3>
            </div>
            @if (Model.ItemType.BatchSize != null) {
                <div class="col-xs-4">
                    <h3>@Model.ItemType.BatchSize</h3>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Barcode):</strong>
            </div>
            <div class="col-xs-7">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Department):</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <h3>@Model.ItemType.Barcode</h3>
            </div>
            <div class="col-xs-7">
                <h3>@Model.ItemType.Department</h3>
            </div>
        </div>
    </div>
    <div class="row"></div>    
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Delete", new {id = Model.ItemType.UID})" class="btn btn-raised btn-danger pull-right">Slet</a>
            <a href="@Url.Action("Edit", new {id = Model.ItemType.UID})" class="btn btn-raised btn-info pull-right">Rediger</a>
        </div>
    </div>
    <hr />



    <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
        <li class="active"><a href="#instock" data-toggle="tab">Lagerbeholdning</a></li>
        <li><a href="#procedure" data-toggle="tab">Procedure og ingredienser</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="instock">
            
            <div class="row">
                @if (Model.ItemType.Items.Any())
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-center">@(Model.ItemType.Items.Sum(i => i.Amount - i.Reserved)) @Model.ItemType.Unit @Model.ItemType.Name på lager</h3>
                            <br />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <strong>Lokation</strong>
                                    </th>
                                    <th>
                                        <strong>Mængde / Reserveret</strong>
                                    </th>
                                    <th>
                                        <strong>Udløbsdato</strong>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Item item in Model.ItemType.Items)
                                {
                                    <tr>
                                        <td>
                                            <h4>@item.Location.Name</h4>
                                        </td>
                                        <td>
                                            <h4 class="sort-amount">@(item.Amount - item.Reserved) @Model.ItemType.Unit</h4>
                                            <small>@item.Reserved / @item.Amount</small>
                                        </td>
                                        <td>
                                            @if (item.ExpirationDate != null)
                                            {
                                                <h4>@item.ExpirationDate.Value.ToString("dd-MM-yyyy")</h4>
                                            }
                                            else
                                            {
                                                <h4>Varen har ingen udløbsdato</h4>
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Detailed", "Inventory", new {id = item.UID})" class="btn btn-raised btn-primary pull-right">Gå til vare</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="col-xs-12">
                        <h3 class="text-center">Der er ingen @Model.ItemType.Name på lager</h3>
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="procedure">  
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.ItemType.Procedure)) {
                    <div class="col-xs-12">
                        <strong>@Html.DisplayNameFor(model => model.ItemType.Procedure):</strong>
                        <h4>@Model.ItemType.Procedure</h4>
                    </div>
                }
            </div>         
            <div class="row">
                @if (Model.Ingredients.Any())
                {
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <strong>Ingrediens</strong>
                                    </th>
                                    <th>
                                        <strong>Mængde</strong>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Ingredient ingredient in Model.Ingredients)
                                {
                                    <tr>
                                        <td>
                                            <h4>@ingredient.ItemType.Name</h4>
                                        </td>
                                        <td>
                                            <h4 class="sort-amount">@ingredient.Amount @ingredient.ItemType.Unit</h4>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Detailed", "ItemType", new {id = ingredient.ItemType.UID})" class="btn btn-raised btn-primary pull-right">Gå til vare</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {                    
                        <div class="col-xs-12">
                            <h3 class="text-center">@Model.ItemType.Name har ingen ingredienser</h3>
                            <br />
                        </div>                 
                }
                </div>
        </div>
    </div>
    <div class="row">
            <br />
    </div> 
</div>
