@using ACLager.Models
@model ACLager.ViewModels.ItemTypeViewModel

@{
    ViewBag.Title = "Rediger varetype";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    <div class="row">
        @using (Html.BeginForm("Edit", "ItemType")) {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => Model.ItemType.UID)

            <div class="col-sm-12 form-horizontal">
                <fieldset>
                    <Legend>Rediger varetype</Legend>
                    @Html.Partial("_ItemTypeTopForm")

                    <div class="col-sm-6">
                        <div class="row">

                            <div class="col-xs-11">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ItemType.Procedure, "Opskrift", new {@class = "control-label"})
                                    @Html.TextAreaFor(model => model.ItemType.Procedure, new {@class = "form-control", rows = 6, @placeholder = "Her kan opskriften på varetype skrives"})
                                </div>
                            </div>

                            <div class="col-xs-1"></div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">

                            <div class="col-xs-11">
                                <div class="form-group label-floating">
                                    <div class="checkbox">
                                        <label>
                                            Aktiv
                                            @Html.CheckBoxFor(model => model.ItemType.IsActive)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1">

                            </div>

                        </div>
                    </div>
                </fieldset>
                <button name="submitAction" class="btn btn-raised btn-success pull-right" type="submit" value="Add">Gem type</button>
                <a href="@Url.Action("Index")" class="btn btn-default pull-right flowout-close">Annuller</a>
            </div>
        }
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Ingrediens
                        </th>
                        <th>
                            Mængde
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (Ingredient ingredient in Model.Ingredients) {
                    <tr>
                        <td>
                            <h4>
                                @ingredient.ItemType.Name
                            </h4>
                        </td>
                        <td>
                            <h4>
                                @ingredient.Amount
                                <small>
                                    @ingredient.ItemType.Unit
                                </small>
                            </h4>
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveIngredient", "ItemType", new { itemTypeId = Model.ItemType.UID, ingredientId = ingredient.UID })) {
                                @Html.AntiForgeryToken()

                                <button class="btn btn-warning" type="submit" name="removeIngredient">Fjern ingrediens</button>
                            }

                        </td>
                    </tr>
                }
                <tr>
                    @using (Html.BeginForm("AddIngredient", "ItemType", new { id = Model.ItemType.UID })) {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => Model.Ingredient.UID)

                            <td>
                                <div class="form-group">
                                @Html.LabelFor(model => model.Ingredient.ItemType.UID, "Vælg en ingrediens", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Ingredient.ItemType.UID, Model.ItemTypeSelectListItems, new { @class = "form-control chosen-select" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ingredient.Amount, "Mængde per produktionsgang", new { @class = "control-label" })
                                @Html.EditorFor(model => model.Ingredient.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hvor mange enheder bruges der per hele batch" } })
                                @Html.ValidationMessageFor(model => model.Ingredient.Amount, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success" type="submit" name="addIngredientBtn">Tilføj ingrediens</button>
                        </td>
                    }
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
