@using ACLager.Models
@model ACLager.ViewModels.ItemTypeViewModel

@{
    ViewBag.Title = "Varetype";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" id="itemTypeSort">
    @Html.Partial("_SearchPanel")
    <div class="row">
        <div class="row">
            <div class="sort noselect col-sm-2" data-sort="sort-is-active">
                <strong>@Html.DisplayNameFor(model => model.ItemType.IsActive)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="col-xs-3">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Name)</strong>
            </div>
            <div class="col-xs-3">
                <strong>@Html.DisplayNameFor(model => model.ItemType.MinimumAmount)</strong>
            </div>
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.ItemType.Unit)</strong>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="list" id="ExpansionPanelsContainer">
        @foreach (ItemType itemType in Model.ItemTypes) {
            <div class="expansionpanel row panel">
                <div class="row">
                    <div class="col-xs-2">
                        <h4>
                            @if (itemType.IsActive) {
                                <span class="label label-success sort-is-active">Aktiv</span>
                            } else {
                                <span class="label label-default sort-is-active">Inaktiv</span>
                            }
                        </h4>
                    </div>
                    <div class="col-xs-3">
                        <h4 class="sort-name">
                            @itemType.Name
                        </h4>
                    </div>
                    <div class="col-xs-3">
                        <h4 class="sort-minimum-amount">
                            @itemType.MinimumAmount
                        </h4>
                    </div>
                    <div class="col-xs-2">
                        <h4 class="sort-unit">
                            @itemType.Unit
                        </h4>
                    </div>
                    <div class="expansion-control col-sm-2" data-expandmaxheight="100px" data-expandtarget="#ExpansionContentContainer_@itemType.UID">
                        <div class="btn btn-default pull-right">
                            <i class="material-icons">expand_more</i>
                            <i class="material-icons hidden">expand_less</i>
                        </div>
                    </div>
                </div>
                <div class="row expansion-content" id="ExpansionContentContainer_@itemType.UID">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        @if (Model.UserIsAdmin) {
                            <a href="@Url.Action("Edit", new {id = itemType.UID})" class="btn btn-raised btn-info pull-right">Rediger</a>
                        }
                        <a href="@Url.Action("Detailed", new {id = itemType.UID})" class="btn btn-raised btn-primary pull-right">Mere info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="flow-content flowout-close" id="ItemTypeInlineInfoAndFormPanel">
    <div class="container"></div>
</div>

<div class="flow-content flowout-close" id="AddFormPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-success flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title">Opret ny artikel type<br></h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_CreateItemType")
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            valueNames: ['sort-is-active', 'sort-name', 'sort-minimum-amount', 'sort-unit']
        };

        var userList = new List('itemTypeSort', options);
    });
</script>