@using ACLager.Models
@model ACLager.ViewModels.ItemTypeViewModel

@{
    ViewBag.Title = "Varetype";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="itemTypeSort">
    @Html.Partial("_SearchPanel")

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                Navn / Beskrivelse
            </div>
            <div class="col-sm-3">
                Minimum mængde før besked
            </div>
            <div class="col-sm-2">
                Enhed
            </div>
            <div class="sort noselect col-sm-2 text-uppercase text-center" data-sort="sort-is-active">Er aktiv?
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container list" id="ExpansionPanelsContainer">
        @foreach (ItemType itemType in Model.ItemTypes) {
            <div class="expansionpanel row panel">
                <div class="row">
                    <div class="col-sm-3 sort-name">
                        <h4>
                            @itemType.Name
                        </h4>
                    </div>
                    <div class="col-sm-3 sort-minimum-amount">
                        <h4>
                            @itemType.MinimumAmount
                        </h4>
                    </div>
                    <div class="col-sm-2 sort-unit">
                        <h4>
                            @itemType.Unit
                        </h4>
                    </div>
                    <div class="col-sm-2 sort-is-active">
                        <h4>
                            @if (itemType.IsActive) {
                                <span class="label label-success">Aktiv</span>
                            } else {
                                <span class="label label-default">Inaktiv</span>
                            }
                        </h4>
                    </div>
                    <div class="expansion-control col-sm-2" data-expandmaxheight="100px" data-expandtarget="#ExpansionContentContainer_@itemType.UID">
                        <div class="btn btn-default pull-right">
                            <i class="material-icons">expand_more</i>
                            <i class="material-icons hidden">expand_less</i>
                        </div>
                    </div>
                </div>
                <div class="row expansion-content" id="ExpansionContentContainer_@itemType.UID">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-5">
                        <div class="btn-group btn-group-justified btn-group-raised">
                            <a href="@Url.Action("Detailed", new {id = itemType.UID})" class="btn btn-primary">Se yderligere</a>
                            <a href="@Url.Action("DeleteItemType", new {id = itemType.UID})" class="btn btn-primary">Slet</a>
                            <a href="@Url.Action("EditItemType", new {id = itemType.UID})" class="btn btn-primary">Rediger</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="fixed-button-container">
    <div class="btn btn-success btn-fab btn-flowout btn-page-flowout-up" data-content-element="#AddItemTypeFormPanel">
        <i class="material-icons normal">add circle</i>
        <i class="material-icons flowing hidden">close</i>
    </div>
</div>

<div class="flow-content flowout-close" id="ItemTypeInlineInfoAndFormPanel">
    <div class="container"></div>
</div>

<div class="flow-content flowout-close" id="AddItemTypeFormPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-success flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title">Opret ny artikel type<br></h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_CreateItemType")
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            valueNames: ['sort-is-active']
        };

        var userList = new List('itemTypeSort', options);
    });
</script>