@using ACLager.Models
@model ACLager.ViewModels.CreateWasteViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel container">
    @using (Html.BeginForm("Create", "Waste")) {
        @Html.AntiForgeryToken()
        <fieldset>
            <Legend>Opret spildrapport</Legend>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Item, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Item.UID, Model.Items, new { @class = "form-control chosen-select" })
                </div>
            </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.WasteReport.Amount, new { @class = "control-label" })
                        @Html.EditorFor(model => model.WasteReport.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WasteReport.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.WorkOrder, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.WorkOrderUID, Model.WorkOrders, new { @class = "form-control chosen-select" })
                    </div>
                </div>
            <div class="col-sm-6"></div>

                <div class="col-sm-12">
                    <div>
                        @Html.LabelFor(model => model.WasteReport.Description, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.WasteReport.Description, new { @class = "form-control", rows = 6, placeholder = "Beskriv hvordan spildet skete" })
                    </div>
                </div>
        </fieldset>


        <input class="btn btn-raised btn-success pull-right" type="submit" value="Opret">
        <a href="@Url.Action("Index", "Home")" class="btn btn-raised btn-primary pull-right">Annuller</a>
    }
</div>
