@model ACLager.ViewModels.WasteViewModel

@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    <div class="row col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Action("Index")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til "Spild rapport"</a>
            </div>
            <div class="col-sm-8">
                <h3 class="text-center">Detaljer om spild rapport</h3>
            </div>
        </div>


        <div class="clearfix"></div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <strong>@Html.DisplayNameFor(model => model.WasteReportGroup.WasteReport.UID):</strong>
                <h4>@Model.WasteReportGroup.WasteReport.UID</h4>
            </div>
            <div class="col-sm-8">
                @if (Model.WasteReportGroup.WorkOrder != null)
            {
                    <div class="col-sm-5">

                        <strong>Arbejdsopgave batchnummer:</strong>
                        <h4>@Model.WasteReportGroup.WorkOrder.BatchNumber</h4>

                    </div>
                    <div class="col-sm-4">
                        <strong>Type:</strong>
                        <h4>@Model.WasteReportGroup.WorkOrder.Type</h4>
                    </div>
                    <div class="col-sm-3">
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <strong>Brugerens navn:</strong>
                <h4>@Model.WasteReportGroup.User.Name</h4>
            </div>
            <div class="col-sm-5">
                <strong>Varens navn:</strong>
                <h4>@Model.WasteReportGroup.ItemType.Name</h4>
            </div>
            <div class="col-sm-3">
                <strong>Mængde:</strong>
                <h4>@Model.WasteReportGroup.WasteReport.Amount @Model.WasteReportGroup.ItemType.Unit</h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <strong>Beskrivelse</strong>
                <br />
                    <text>@Model.WasteReportGroup.WasteReport.Description</text>
            </div>
        </div>
        <hr />
    </div>
</div>
