@using ACLager.CustomClasses
@using ACLager.Models
@model ACLager.ViewModels.WasteViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="wasteSort">
    @Html.Partial("_SearchPanel")

 
        <div class="row">

            <div class="sort noselect col-sm-2" data-sort="sort-date">
                <strong>@Html.DisplayNameFor(model => model.WasteReportGroup.WasteReport.Date)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>

            <div class="sort noselect col-sm-3" data-sort="sort-user">
                <strong>Bruger</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>

            <div class="sort noselect col-sm-3" data-sort="sort-item">
                <strong>Vare</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>

            <div class="sort noselect col-sm-2" data-sort="sort-ID">
                <strong>@Html.DisplayNameFor(model => model.WasteReportGroup.WasteReport.UID)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
        </div>


    <div class="list" id="ExpansionPanelsContainer">
        @foreach (WasteReportGroup wasteReportGroup in Model.WasteReportGroups) {
            <div class="expansionpanel row panel">
                <div class="row">
                    <div class="col-sm-2 sort-date">
                        <h4>@wasteReportGroup.WasteReport.Date.ToString("yyyy-MM-dd HH:mm")</h4>
                    </div>
                    <div class="col-sm-3 sort-user">
                        <h4>@wasteReportGroup.ObjectData["ContextUser"]["Name"]</h4>
                    </div>
                    <div class="col-sm-3 sort-item">
                        <h4>@wasteReportGroup.ObjectData["ItemType"]["Name"]</h4>
                    </div>
                    <div class="col-sm-2">
                        <h4>@wasteReportGroup.WasteReport.UID</h4>
                    </div>
                    <div class="expansion-control col-sm-2" data-expandmaxheight="100px" data-expandtarget="#ExpansionContentContainer_@wasteReportGroup.WasteReport.UID">
                        <div class="btn btn-default pull-right">
                            <i class="material-icons">expand_more</i>
                            <i class="material-icons hidden">expand_less</i>
                        </div>
                    </div>
                </div>
                <div class="row expansion-content" id="ExpansionContentContainer_@wasteReportGroup.WasteReport.UID">
                    <div class="col-sm-2">
                        <h5><strong>Mængde spildt:</strong> @wasteReportGroup.WasteReport.Amount</h5>
                    </div>
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-3">

                        <a href="@Url.Action("Detailed", new {id = wasteReportGroup.WasteReport.UID})" class="btn btn-raised btn-primary pull-right">Mere info</a>
                        @*
                            <a href="@Url.Action("EditUser", new {id = wasteReport.UID})" class="btn btn-raised btn-info">Rediger</a>
                        *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var options = {
            valueNames: ['sort-date', 'sort-user', 'sort-item', 'sort-ID']
        };
        var userList = new List('wasteSort', options);
    });
</script>
