@model ACLager.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Vare detaljeret";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til lageroversigten</a>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Vareinformation</h3>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <small>erstat med dynamisk navn</small><a href="@Url.Action("Detailed", "ItemType", new {id = Model.Item.ItemType.UID})"><h3>@Model.Item.ItemType.Name</h3></a>
        </div>
        <div class="col-sm-6">
            <small>erstat med dynamisk navn</small><a href="@Url.Action("Detailed", "Location", new {id = Model.Item.Location.UID})"><h3>@Model.Item.Location.Name</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <small>@Html.DisplayNameFor(model => Model.Item.Amount)</small>
            <h3>@Model.Item.Amount</h3>
        </div>
        <div class="col-sm-4">
            <small>@Html.DisplayNameFor(model => Model.Item.ExpirationDate )</small>
            @if (@Model.Item.ExpirationDate != null) {
                <h3>@Model.Item.ExpirationDate.Value.ToShortDateString() </h3>
            }
        </div>
        <div class="col-sm-4">
            <small>@Html.DisplayNameFor(model => Model.Item.DeliveryDate )</small>
            <h3>@Model.Item.DeliveryDate </h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            <small>@Html.DisplayNameFor(model => Model.Item.Supplier)</small>
            <h3>@Model.Item.Supplier</h3>
        </div>
        <div class="col-sm-7">
            <a href="@Url.Action("PickItem", new {id = Model.Item.UID})" class="btn btn-raised btn-success pull-right">Pluk</a>
            <a href="@Url.Action("MoveItem", new {id = Model.Item.UID})" class="btn btn-raised btn-info pull-right">Flyt</a>
        </div>
    </div>
</div>

