@using ACLager.Models
@using Microsoft.Ajax.Utilities
@model ACLager.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" id="inventorySort">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 panel">
                <form class="bs-component">
                    <div class="form-group form-group-lg label-floating is-empty">

                        <div class="input-group">
                            <label class="control-label" for="MainFilterAndSearchField">Skriv for at søge i tabellen nedenfor</label>
                            <input type="text" id="MainFilterAndSearchField" class="form-control search">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-raised" type="button"><i class="material-icons">search</i>Scan til søgning</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>

                            <th class="sort" data-sort="sort-name">Navn             <br><span class="label label-default">Klik for at sortere</span><span class="label label-primary asc">Sorteret stigende</span><span class="label label-primary desc">Sorteret faldende</span></th>
                            <th class="sort" data-sort="sort-location">Lokation     <br><span class="label label-default">Klik for at sortere</span><span class="label label-primary asc">Sorteret stigende</span><span class="label label-primary desc">Sorteret faldende</span></th>
                            <th class="sort" data-sort="sort-amount">Mængde         <br><span class="label label-default">Klik for at sortere</span><span class="label label-primary asc">Sorteret stigende</span><span class="label label-primary desc">Sorteret faldende</span></th>
                            <th class="sort" data-sort="sort-expdate">Udløbsdato    <br><span class="label label-default">Klik for at sortere</span><span class="label label-primary asc">Sorteret stigende</span><span class="label label-primary desc">Sorteret faldende</span></th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (Item item in Model.Items) {
  
                        
                        <tr id=@String.Format("NormalRow"+item.uid)>

                            <td class="sort-name">
                                <h4>Item name</h4>
                            </td>
                            <td class="sort-location">
                                <h3>
                                    <strong>2H-01</strong>
                                </h3>
                            </td>
                            <td class="sort-amount">
                                <h4>
                                    <strong>@item.amount</strong>
                                    <small>kg.</small>
                                </h4>
                            </td>
                            <td class="sort-expdate">
                                <h4>
                                    @if (item.expiration_date != null) {
                                        @item.expiration_date.Value.ToShortDateString()
                                    }

                                </h4>
                            </td>
                            <td>
                                <button type="button" class="btn btn-lg btn-primary foldout-btn" data-rowid="InfoRow01">Flere valg <i class="material-icons">expand_more</i></button>
                            </td>
                        </tr>
                            <tr id="@String.Format("InfoRow" + item.uid)" class="info-row" style="display: none;">
                                <td>
                                    sdf
                                </td>
                                <td>
                                    <strong>Leverandør:</strong>
                                    @item.supplier
                                </td>
                                <td>
                                    <strong>Leveret dato:</strong>
                                    @item.delivery_date.ToShortDateString()
                                </td>
                                <td>
                                    <strong>Note:</strong>
                                    Bandit
                                </td>
                                <td>
                                    <a href="#" class="btn btn-raised btn-sm btn-info">Flyt</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="fixed-button-container">
        <a href="/add/" class="btn btn-primary btn-fab"><i class="material-icons">add circle</i></a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Init the material javascript to create neat effects -->
    <script type="text/javascript">
        $(document).ready(function() {
            var options = {
                valueNames: ['sort-name', 'sort-location', 'sort-amount', 'sort-expdate', 'sort-info']
            };
            var userList = new List('inventorySort', options);
            $(".foldout-btn").click(function() {
                console.log($(this).data("rowid"));
                $("#"+$(this).data("rowid")).slideToggle("slow")
            })
        });
    </script>
