@using ACLager.CustomClasses
@using ACLager.Models
@model ACLager.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Lagerstyring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="inventorySort">
    @Html.Partial("_SearchPanel")

    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <strong>Varenavn / beskrivelse</strong>
            </div>
            <div class="col-xs-3">
                <strong>Lokation</strong>
            </div>
            <div class="sort noselect col-xs-2" data-sort="sort-amount">
                <strong>@Html.DisplayNameFor(model => model.Item.Amount)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="sort noselect col-xs-2" data-sort="sort-expdate">
                <strong>@Html.DisplayNameFor(model => model.Item.ExpirationDate)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="container list" id="ExpansionPanelsContainer">
        @foreach (ItemGroup itemGroup in Model.ItemGroups) {
            foreach (ItemLocationPair itemLocationPair in itemGroup.ItemLocationPairs) {
                <div class="expansionpanel row panel">
                    <div class="row">
                        <div class="col-xs-3 sort-name">
                            <h4>@itemGroup.ItemType.Name</h4>
                        </div>
                        <div class="col-xs-3 sort-location">
                            <h4>@itemLocationPair.Location.Name</h4>
                        </div>
                        <div class="col-xs-2 sort-amount">
                            <h4>@itemLocationPair.Item.Amount @itemGroup.ItemType.Unit</h4>
                        </div>
                        <div class="col-xs-2 sort-expdate">
                            @if (itemLocationPair.Item.ExpirationDate != null) {
                                <h4>@itemLocationPair.Item.ExpirationDate.Value.ToShortDateString()</h4>
                            }
                        </div>
                        <div class="expansion-control col-xs-2" data-expandmaxheight="100px" data-expandtarget="#ExpansionContentContainer_@itemLocationPair.Item.UID">
                            <div class="btn btn-default pull-right">
                                <i class="material-icons">expand_more</i>
                                <i class="material-icons hidden">expand_less</i>
                            </div>
                        </div>
                    </div>
                    <div class="row expansion-content" id="ExpansionContentContainer_@itemLocationPair.Item.UID">
                        <div class="col-xs-2 sort-supplier">
                            <strong>Leverandør:</strong>
                            @itemLocationPair.Item.Supplier
                        </div>
                        <div class="col-xs-2">
                            <strong>Leveret dato:</strong>
                            @itemLocationPair.Item.DeliveryDate.ToShortDateString()
                        </div>
                        <div class="col-xs-8">
                            <a href="@Url.Action("PickItem", new {id = itemLocationPair.Item.UID})" class="btn btn-raised btn-success pull-right">Pluk</a>
                            <a href="@Url.Action("MoveItem", new {id = itemLocationPair.Item.UID})" class="btn btn-raised btn-info pull-right">Flyt</a>
                            <a href="@Url.Action("Detailed", new {id = itemLocationPair.Item.UID})" class="btn btn-raised btn-primary pull-right">Mere info</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="fixed-button-container">
    <div class="btn btn-success btn-fab btn-flowout btn-page-flowout-up" data-content-element="#AddInventoryItemFormPanel">
        <i class="material-icons normal">add circle</i>
        <i class="material-icons flowing hidden">close</i>
    </div>
</div>

<div class="flow-content flowout-close" id="InventoryItemInlineInfoAndFormPanel">
    <div class="container"></div>
</div>

<div class="flow-content flowout-close" id="AddInventoryItemFormPanel">
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="panel panel-success flowout-noclose">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <br></h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_AddItem")
                    </div>
                </div>

            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {

        var options = {
            valueNames: ['sort-name', 'sort-location', 'sort-amount', 'sort-expdate', 'sort-supplier']
        };

        var userList = new List('inventorySort', options);

    });
</script>