@using ACLager.Models
@model ACLager.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Pluk vare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel">
    @using (Html.BeginForm("PickItem", "Inventory"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Item.UID)
        <div class="col-sm-6">
            <div class="row">
                <div class="form-group">
                    <strong>@Html.DisplayNameFor(model => model.Item.ItemType.Name):</strong>
                    <h4>@Model.Item.ItemType.Name</h4>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <strong>@Html.DisplayNameFor(model => model.Item.Location.Name):</strong>
                    <h3>@Model.Item.Location.Name</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="form-group">
                    <strong>Tilgængelig:</strong>
                    <h4>@(Model.Item.Amount - Model.Item.Reserved) @Model.Item.ItemType.Unit</h4>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Item.Amount, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Item.Amount, new { htmlAttributes = new { @class = "form-control", data_val_range_max = Model.Item.Amount - Model.Item.Reserved, data_val_range = $"Mængde skal være mellem 1 og {Model.Item.Amount - Model.Item.Reserved}" } })
                    @Html.ValidationMessageFor(model => model.Item.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <input class="btn btn-raised btn-success pull-right" type="submit" value="Pluk">
        <a href="@Url.Action("Index")" class="btn btn-raised btn-primary pull-right">Annuller</a>
    }
</div>

