@using System.Collections
@using ACLager.Models
@model ACLager.ViewModels.LogViewModel

@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container panel">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index")" class="btn btn-default pull-left"><i class="material-icons">arrow_back</i>Tilbage til "Aktivitets historik"</a>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center">Detaljer om "@Model.LogEntry.Type"</h3>
        </div>
    </div>

    @{ dynamic objectData = Json.Decode(Model.LogEntry.ObjectData);}

    <div class="clearfix"></div>
    <hr />
    <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                @foreach (KeyValuePair<string, object> ob in objectData) {
                    <h3>@ob.Key</h3>
                    foreach (KeyValuePair<string, object> v in (dynamic) ob.Value) {
                        if (v.Value != null) {
                            <dt>@v.Key:</dt>
                            <dd>@v.Value.ToString()</dd>
                        }
                    }
                    <br/>
                }
            </dl>
        </div>
        <div class="col-sm-4"> </div>
    </div>
</div>