@using System.Reflection
@using ACLager.Models
@using Newtonsoft.Json
@model ACLager.ViewModels.LogViewModel

@{
    ViewBag.Title = "Aktivitetshistorik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container"></div>

<div class="container" id="logSort">
    @Html.Partial("_SearchPanel")


        <div class="row">
            <div class="sort noselect col-sm-2" data-sort="sort-date">
                <strong>Tidspunkt</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="sort noselect col-sm-2" data-sort="sort-type">
                <strong>@Html.DisplayNameFor(model => model.LogEntry.Type)</strong>
                <br>
                <span class="label label-default">Klik for at sortere</span>
                <span class="label label-primary asc">Sorteret stigende</span>
                <span class="label label-primary desc">Sorteret faldende</span>
                <br>
            </div>
            <div class="col-sm-6">
                <strong>@Html.DisplayNameFor(model => model.LogEntry.LogBody)</strong>
            </div>
        </div>

    <div class="list" id="ExpansionPanelsContainer">
        @foreach (LogEntry entry in Model.LogEntries)
        {
            <div class="expansionpanel row panel">
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="sort-date">
                            @entry.Date.ToString("yyyy-MM-dd HH:mm")
                        </h4>
                    </div>
                    <div class="col-sm-2">
                        <h4 class="sort-type">
                            @entry.Type
                        </h4>
                    </div>
                    <div class="col-sm-5">
                        <h4 class="sort-body">
                            @entry.LogBody
                        </h4>
                    </div>
                    <div class="col-sm-3">
                        <a href="@Url.Action("Detailed", new {id = entry.UID})" class="btn btn-raised btn-primary pull-right">Mere info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var options = {
            valueNames: ['sort-date', 'sort-type', 'sort-body']
        };

        var userList = new List('logSort', options);
    });
</script>

