@model ACLager.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title - ACLager</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    @Styles.Render("~/Content/css")
    <link href="/Content/primary-@(Model.SectionColor).css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- Utility functions-->
    <script type="text/javascript">
        var GLOBALID = 0;
        function certainID(elem) {
            var el = $(elem);
            if (!el.attr("id")) {
                el.attr("id", "artificialID_" + GLOBALID);
                GLOBALID += 1;
            }
            return el.attr("id");
        }
    </script>

    <!-- Init the material javascript to create neat effects -->
    <script type="text/javascript">
        $(document).ready(function() {
            moment.locale("da");
            $('.chosen-select').select2({
                language: "da"
            });
            $('.btn[data-toggle="popover"]').popover();
            $('.popover-trigger[data-toggle="popover"]').popover();
            $.material.init();
            $(".clickable").click(function(event) {
                var href = $(this).data("href");
                if (href) {
                    event.preventDefault();
                    window.location.assign(href);
                }
            });
            $('.dateTimePickerInput.date-only').bootstrapMaterialDatePicker({
                format: 'YYYY-MM-DD',
                lang: 'da',
                weekStart: 1,
                cancelText: 'ANNULLER',
                time: false,
                //currentDate: new moment(),
                clearButton: true,
                nowButton: true,
                nowText: "Idag",
                clearText: "Ryd dato"
            });
            $('body').on('click', '.btn-page-flowout-up', function () {
                var content_element = "";

                if ($(this).data('content-element')) {
                    content_element = $($(this).data('content-element'));
                } else {
                    console.error("No flowoutcontentelementselector specified. <- Nice long word eh? :)");
                }

                var options = {
                    trigger_element: $(this),
                    content_element: content_element,
                    direction: 'up'
                }

                $('#FlowoutBackdrop').trigger('flowout:page:show', options);

            })

            //catch clcik event and modify to prevent closing when using the inner content.
            $('body').on('click', '.flowout-noclose', function (event) {
                event['flowout-noclose'] = true;
                return event;
            })

            $('body').on('click', '.flowout-close', function (event) {
                if (!event['flowout-noclose']) {
                    $('#FlowoutBackdrop').trigger('flowout:page:hide');
                }
            })

            $('#FlowoutBackdrop').on('flowout:page:hide', function (event) {
                var backdrop = $(this);
                var options = backdrop.data('options');
                //flow the content down into hiding
                options.content_element.transition({
                    'top': backdrop.height() + 50
                }, 300, function () {
                    //hide the element
                    options.content_element.css('display', 'none');

                    //show the trigger button
                    options.trigger_element.show();

                    //remove the backdrop
                    backdrop.removeClass('active');

                    //reactivate scrolling
                    $('body').removeClass('no-scroll');

                });

            })

            $('#FlowoutBackdrop').on('flowout:page:show', function (event, options) {
                var backdrop = $(this);
                backdrop.addClass('active');

                //make sure the user can not scroll anymore
                $('body').addClass('no-scroll');

                //save the options object for later use when closing
                backdrop.data('options', options);

                //hide the button
                options.trigger_element.hide();

                //show the content
                options.content_element.css({
                    'position': 'fixed',
                    'top': backdrop.height(),
                    'display': 'block',
                    'z-index': backdrop.css('z-index') + 1
                });
                options.content_element.transition({
                    'top': (backdrop.height() - options.content_element.height()) / 2
                }, 300);
            })

            $('#ExpansionPanelsContainer').on('click', '.expansion-control', function (event) {
                var that = $(this);
                var exp_content = $(that.data("expandtarget"));
                var expand_height = that.data('expandmaxheight');
                that.find('i.material-icons').toggleClass('hidden');
                exp_content.transition({ "max-height": expand_height }, 300, function () {

                    if (expand_height === "100px") {
                        that.data('expandmaxheight', '0px')
                    } else if (expand_height === '0px') {
                        that.data('expandmaxheight', '100px');
                    }

                });
            })

        });
    </script>
</head>
<body>
    <div id="FlowoutBackdrop" class="flowout-close">

    </div>
    @if (Model.RenderNavBar) {
        @Html.Partial("_NavBar");
    }
    @RenderBody()

</body>
</html>